In [ ]:
marks=100
marks

In [ ]:
type(marks)

In [ ]:
5**3

In [ ]:
#booleaan Operations

x=True
y=False

In [ ]:
s1 = "my name is oshi"
s1.split()

In [ ]:
str1 = "welcome to data science class"
#str1.capitalize()
#str1.upper()
str1.title()

In [ ]:
#Condition statement

a=10
b=40
if a>b:
  print("a is greater then b ")
  print("in the block")
  c=a+b
  print(c)
else:
   print ("b is greater")
   print("in the block ")
   c=a*b
   print(c)

In [ ]:
salary=45000
if(salary>25000):
   tax=0.20
   print("hello from xyz")
print("bye....outside of if block")
net_sal = salary-tax*salary
print("net salary=",net_sal)

In [ ]:
#loop
for num in range (1,4):
  print ("hello")

In [ ]:
print("even number")
for num in range (0,20):
  if num % 2==0:
    print(num)

print ("odd number")
for num in range (0,20):
  if num % 2 ==1:
    print(num)

In [ ]:
for i in range(1,21,2):
 print (i)

In [ ]:
subject = "science"
#variable  value
for i in subject:
  print(i)

In [ ]:
#name = "oshi"
#for i in range (1,7):
  #x=(name+" ")*i
  #print(x)

name = "oshi"" "
for y in  range (1,9):
   print(name*y)

In [ ]:
#list
# list are mutable
# created uing []

marks=[44,45,30,32,25,44,21,12,10,36]

type(marks)
len (marks)
sorted(marks)

In [ ]:
#marks.append(11)
#marks.sort(reverse= False)
#marks.insert(2,44)
#marks.pop()
print(marks)

In [ ]:
import sys
print(sys.version)

In [ ]:
num=00
if num >0:
  print("positive")
elif num == 0:
  print("it's zero")
else:
  print("negative")

In [ ]:
name =input("enter your name:")

In [ ]:
name

In [ ]:
num = int(input("enter the number:"))
print(num)
if num % 7 == 0:
  print("you won number is divisible by 7 ")
else :
  print("sorry try again")

In [ ]:
marks = int(input("enter the marks:"))
if marks >=80:
  print("Distinction")
elif marks>=60:
  print("First class")
elif marks >= 40:
   print("Pass")
else:
  print("Fail")

In [ ]:
mrklist = [21,33,70,66,58,99,40,85,10]
for marks in mrklist:
 if marks>=80:
  print(marks, "--> Distinction")
 elif marks >=60:
  print(marks, "--> First class")
 elif marks >=40:
  print(marks,"--> Pass")
 else:
    print(marks,"--> Fail")

In [ ]:
#while loop
cnt = 0
while cnt < 5:
  print ("hellow")
  cnt = cnt +1

In [ ]:
# a square fuction
def square(x):
  return x**2

print (square(4))

In [ ]:
def calc_grades (marks):
  if marks >= 80:
    grade = "distiction"
  elif marks >=60:
    grade="first class"
  elif marks >=40:
    grade="pass"
  else :
    grade="fail"

  return grade

In [ ]:

  print(calc_grades(68))

In [ ]:
list1= ['mango','papaya','apple','straberry','pineapple','blurberry']
for fruits in list1 :
   print ( fruits .upper())

In [ ]:
list2=[]
list3=[]

for fruits in list1:
  if 'berry' in fruits:
     list2.append(fruits)
  else :
    list3.append(fruits)

print("original list",list1)
print("berry list",list2)
print("non berry list",list3)

In [ ]:
#LIST
#data structur
#mutable
#create using []

#list3 [0:4]
#list3 [-1:-6:-1]
#list3 [-1::-4]
#list1.index('apple')
list1[3]="orange"
list1

In [ ]:
n1 = list (range(1,31))
print(n1)

In [ ]:
n1[1:27:5]

In [ ]:
l1=[1,2,3,4,5,6]
l2=[]

for i in l1 :
  l2.append(i**2)

print("number=",l1)
print("square of number=",l2)

In [ ]:
#TUPLE
#data structur
#non mutable
#create using ()

t1 =(1,2,3,4,5,6)
#t1
#type(t1)
#t1*3
#dir (t1)
#t3 = t1 +(7,8,9,10,11)

#t1.index(6)
t1.count(6)

In [ ]:
#DICTIONARY
#data structure
#key name : value
#written with {}
# we do not have concept of index.
#value can be repeated but key shoud be unique.


capital_dict = {"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
#capital_dict
#type(capital_dict)
#dir(dict)
#capital_dict["Nepal"] ,# HOW TO ACCESS ELEMENTS OF DICTIONARY
#key()=give the value of key of the dictionary and return  the list of keys as a view object
#value()= ------"--------
#items()= return both key and value and display a list of dictionary(key,value) tuple pont


key1 = capital_dict.keys()
key1
value = capital_dict.values()
value
item = capital_dict.items()
item

add_capital={"Japan":"Tokyo","India":"New Delhi"}
capital_dict.update(add_capital)
capital_dict

In [ ]:
#capital_dict.update({"Australia":"Sydney"})
capital_dict["abc"]="mumbai"
capital_dict

{'Italy': 'Rome',
 'England': 'London',
 'Japan': 'Tokyo',
 'India': 'New Delhi',
 'Australia': 'Sydney',
 'abc': 'mumbai'}

In [ ]:
capital_dict.pop("Nepal")

In [ ]:
mylist=["mango","orange","apple",]
mytuple=(1,2,3,4,5,6,7,8)
mydict={"A":mylist,
        "B":mytuple ,
        "C":capital_dict}


#if there is dictionary inside a dictionary so you have to write both the key
mydict["B"][2]

3

In [ ]:
#how to solve math problem by using import math fuctions
from math import sqrt
sqrt(25)
factorial(5)

from math import*

cos (1)

import math as mt
mt.cos(1)
mt.sqrt(25)

5.0