<a href="https://colab.research.google.com/github/UjjwalaAlpuria/Data_Science_file/blob/main/INTRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
marks=100
marks

In [ ]:
type(marks)

In [ ]:
5**3

In [ ]:
#booleaan Operations

x=True
y=False

In [ ]:
s1 = "my name is oshi"
s1.split()

In [ ]:
str1 = "welcome to data science class"
#str1.capitalize()
#str1.upper()
str1.title()

In [ ]:
#Condition statement

a=10
b=40
if a>b:
  print("a is greater then b ")
  print("in the block")
  c=a+b
  print(c)
else:
   print ("b is greater")
   print("in the block ")
   c=a*b
   print(c)

In [ ]:
salary=45000
if(salary>25000):
   tax=0.20
   print("hello from xyz")
print("bye....outside of if block")
net_sal = salary-tax*salary
print("net salary=",net_sal)

In [ ]:
#loop
for num in range (1,4):
  print ("hello")

In [ ]:
print("even number")
for num in range (0,20):
  if num % 2==0:
    print(num)

print ("odd number")
for num in range (0,20):
  if num % 2 ==1:
    print(num)

In [ ]:
for i in range(1,21,2):
 print (i)

In [ ]:
subject = "science"
#variable  value
for i in subject:
  print(i)

In [ ]:
#name = "oshi"
#for i in range (1,7):
  #x=(name+" ")*i
  #print(x)

name = "oshi"" "
for y in  range (1,9):
   print(name*y)

In [ ]:
#list
# list are mutable
# created uing []

marks=[44,45,30,32,25,44,21,12,10,36]

type(marks)
len (marks)
sorted(marks)

In [ ]:
#marks.append(11)
#marks.sort(reverse= False)
#marks.insert(2,44)
#marks.pop()
print(marks)

In [ ]:
import sys
print(sys.version)

In [ ]:
num=00
if num >0:
  print("positive")
elif num == 0:
  print("it's zero")
else:
  print("negative")

In [ ]:
name =input("enter your name:")

In [ ]:
name

In [ ]:
num = int(input("enter the number:"))
print(num)
if num % 7 == 0:
  print("you won number is divisible by 7 ")
else :
  print("sorry try again")

In [ ]:
marks = int(input("enter the marks:"))
if marks >=80:
  print("Distinction")
elif marks>=60:
  print("First class")
elif marks >= 40:
   print("Pass")
else:
  print("Fail")

In [ ]:
mrklist = [21,33,70,66,58,99,40,85,10]
for marks in mrklist:
 if marks>=80:
  print(marks, "--> Distinction")
 elif marks >=60:
  print(marks, "--> First class")
 elif marks >=40:
  print(marks,"--> Pass")
 else:
    print(marks,"--> Fail")

In [ ]:
#while loop
cnt = 0
while cnt < 5:
  print ("hellow")
  cnt = cnt +1

In [ ]:
# a square fuction
def square(x):
  return x**2

print (square(4))

In [ ]:
def calc_grades (marks):
  if marks >= 80:
    grade = "distiction"
  elif marks >=60:
    grade="first class"
  elif marks >=40:
    grade="pass"
  else :
    grade="fail"

  return grade

In [ ]:

  print(calc_grades(68))

In [ ]:
list = ['mango','papaya','apple','straberry','pineapple','blurberry']

for fruits in list :
   print ( fruits .upper())