In [ ]:
marks=100
marks

In [ ]:
type(marks)

In [ ]:
5**3

In [ ]:
#booleaan Operations

x=True
y=False

In [ ]:
s1 = "my name is oshi"
s1.split()

In [ ]:
str1 = "welcome to data science class"
#str1.capitalize()
#str1.upper()
str1.title()

In [ ]:
#Condition statement

a=10
b=40
if a>b:
  print("a is greater then b ")
  print("in the block")
  c=a+b
  print(c)
else:
   print ("b is greater")
   print("in the block ")
   c=a*b
   print(c)

In [ ]:
salary=45000
if(salary>25000):
   tax=0.20
   print("hello from xyz")
print("bye....outside of if block")
net_sal = salary-tax*salary
print("net salary=",net_sal)

In [ ]:
#loop
for num in range (1,4):
  print ("hello")

In [ ]:
print("even number")
for num in range (0,20):
  if num % 2==0:
    print(num)

print ("odd number")
for num in range (0,20):
  if num % 2 ==1:
    print(num)

In [ ]:
for i in range(1,21,2):
 print (i)

In [ ]:
subject = "science"
#variable  value
for i in subject:
  print(i)